body
{
    background-color: #8585E0;
    text-align: center;
    font-family: Optima, sans-serif;
    font-size: 150%
}
nav
{
    text-align: center;
    display: inline;
}
nav ul
{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    background color: #4D5093;
    overflow: hidden;
}
nav li
{
    border-right: white solid 1px;
    border-left: white solid 1px;
    display: inline;

}
nav li a
{
    display: inline-block;
    font-style: "Apple Chancery", cursive;
    color: white;
    font-size: 150%;
    border-radius: 2px;
}
nav li a:hover
{
    background-color: #272C8C;
}
/*
h1
{
}
h2
{
}
h3
{
}
p
{
}
*/
img
{
    width: 500px;
    height: 500px;
}
iframe
{
    width: 400px;
    height: 300px;
}