@import url('https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap');
body
{
    background-color: #8585E0;
    text-align: center;
    font-family: Optima, sans-serif;
    font-size: 150%
    width: 2000px;
}
body#esportsbody
{
    background-image: url(images/tdny.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
nav
{
    text-align: center;
    display: inline;
}
nav ul
{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    border-radius: 2px;
    background-color: #4D5093;
    overflow: hidden;
}
nav li
{
    border-right: white solid 1px;
    border-left: white solid 1px;
    display: inline;

}
nav li a
{
    display: inline-block;
    font-style: "Apple Chancery", cursive;
    color: white;
    font-size: 110%;
    padding: 15px 30px;
    text-decoration: none;
}
nav li a:hover
{
    background-color: #272C8C;
}
nav li a.active
{
    background-color: #272C8C;
}
